.product-name {
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
  margin-top: 50px;
}

.product-details{
  margin: 0 auto;
  width: 150px;
  margin-top: 50px;
  font-size: 1rem;
}

.product-category {
  margin-top: 100px;
}

.sale-price {
  color: red;
  font-weight: bold;
}

.wrapper {
  width: 280px;
  height: 370px;
  background: white;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
  -moz-box-shadow:    0px 0px 8px rgba(0,0,0,0.3);
  box-shadow:         0px 0px 8px rgba(0,0,0,0.3);
  position: relative;
  z-index: 90;
  float: left;
  margin: 50px;
}

.ribbon-wrapper-red {
  width: 85px;
  height: 88px;
  overflow: hidden;
  position: absolute;
  top: -3px;
  right: -3px;
}

.ribbon-red {
  font: bold 15px Sans-Serif;
  color: #333;
  text-align: center;
  text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
  -webkit-transform: rotate(45deg);
  -moz-transform:    rotate(45deg);
  -ms-transform:     rotate(45deg);
  -o-transform:      rotate(45deg);
  position: relative;
  padding: 7px 0;
  left: -5px;
  top: 15px;
  width: 120px;
  background-color: #ff3a3a;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ff3a3a), to(red));
  background-image: -webkit-linear-gradient(top, #ff3a3a, red);
  background-image:    -moz-linear-gradient(top, #ff3a3a, red);
  background-image:     -ms-linear-gradient(top, #ff3a3a, red);
  background-image:      -o-linear-gradient(top, #ff3a3a, red);
  color: white;
  -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
  -moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.3);
  box-shadow:         0px 0px 3px rgba(0,0,0,0.3);
}

.ribbon-red:before, .ribbon-red:after {
  content: "";
  border-top:   3px solid red;
  border-left:  3px solid transparent;
  border-right: 3px solid transparent;
  position:absolute;
  bottom: -3px;
}

.ribbon-red:before {
  left: 0;
}
.ribbon-red:after {
  right: 0;
}​
